.order-button {
  float: right;
  cursor: pointer;
}

.order-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 66%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-center-box {
  width: 500px;
  height: 630px;
  background-color: #fff;
}

.order-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
